.App {
  text-align: center;
}

.main {
  margin: auto;
  width: 90%;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Colours */

.blue {
  background-color: #5bc0eb;
  color: #efe7da
}

.yellow {
  background-color: #fde74c;
  color: #2b2b2b
}

.green {
  background-color: #9bc53d;
  color: #efe7da
}

.red {
  background-color: #c3423f;
  color: #efe7da
}

.black {
  background-color: #211a1e;
  color: #efe7da
}
