.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* Colours */

.blue {
  background-color: #5bc0eb;
  color: #efe7da
}

.yellow {
  background-color: #fde74c;
  color: #2b2b2b
}

.green {
  background-color: #9bc53d;
  color: #efe7da
}

.red {
  background-color: #c3423f;
  color: #efe7da
}

.black {
  background-color: #211a1e;
  color: #efe7da
}
